[2011-11-03 13:05] markbao opened #1 "Add support for TOTP"

[2011-11-03 13:06] markbao opened #2 "Add tests for HOTP"

[2011-11-03 13:06] markbao opened #3 "Add tests for TOTP"

[2011-11-03 13:06] markbao opened #4 "Add tests for hex_to_ascii"

[2011-11-03 13:18] markbao opened #5 "Option to override T0 (initial time), default 0"

[2011-11-03 13:29] markbao opened #6 "Legitimate README"

[2011-11-03 13:30] #1 closed, assigned to markbao

[2011-11-03 13:34] markbao opened #7 "Key/secret generator returning ASCII, hex, and base32"

[2011-11-03 19:32] #2 closed, assigned to markbao

[2011-11-03 19:32] #3 closed, assigned to markbao

[2011-11-03 19:32] #7 closed, assigned to markbao

[2011-11-03 19:32] #6 closed, assigned to markbao

[2011-11-03 19:37] #5 closed, assigned to markbao

[2012-08-28 12:20] robotiko opened #9 "Add support to OATH OCRA"
To complete the OATH Suite with latest specs:
http://tools.ietf.org/html/rfc6287

[2012-09-10 18:21] ARAtlas opened #10 "symbols option doesn't work"
Running the following command includes symbols in the generated key:

speakeasy.generate_key({ length: 12, symbols: false });

[2012-09-10 20:13] #10 closed, assigned to markbao

[2013-07-07 05:05] markbao opened #14 "Add support for tokens longer than 6 characters"
Currently only available for 6 characters, add support for 7+.

[2013-07-07 05:12] markbao opened #15 "Add support for tokens 6+ chars"
Currently only 6 chars possible; add support for 7+.

[2013-07-07 08:08] #14 closed, assigned to nobody

[2013-07-07 08:08] #15 closed, assigned to nobody

[2013-07-18 13:44] setthase opened #16 "LICENSE"
Under which license conditions this code is published/released?

[2013-07-19 04:58] #16 closed, assigned to nobody

[2013-11-22 12:22] blalor opened #20 "Doesn't agree with Google Authenticator"
I'm unable to get this to agree with Google Authenticator.  [onceler](https://npmjs.org/package/onceler) does, however.  The `otp` var generated by the two samples below should be equal.  The one from `onceler` agrees with the Google Authenticator app on my iPhone, but speakeasy does not.
## onceler

[code]
## speakeasy

[code]

[2014-04-03 19:17] jfromaniello opened #22 "No QR options in Google Authenticator"
Hi, I've seen that Google Authenticator also gives the option to simple input a key instead of scaning a QR, I wonder what's the format of that key.

It asks for a **name**, **key** and **Time-based/Counter-Based**

This seems very useful when the user needs to enrol in a mobile device.

Thanks

[2014-04-03 19:41] #22 closed, assigned to nobody

[2014-07-15 14:22] ghost opened #24 "Sending secret key over HTTPs"
Secret key is supposed to be unpredictable and kept secret because anyone who knows the secret can generate the code at any time.

Speakeasy sends it over an [HTTPs request](https://github.com/markbao/speakeasy/blob/master/lib/speakeasy.js#L220).

While we're sending it to Google - can we trust it? Some might say 'yes', some might say 'no'; infosec says 'no' - we're sending it over an HTTPs **GET*

[2014-07-17 23:26] ghost opened #25 "speakeasy.time(); not showing matching Google Auth/Console output OTP"
I attempted to use the example in the github readme to verify that the OTP generated from my phone/device matched the speakeasy.time();... Google shows one OTP, and the output to my console shows a different OTP.

Below is the code I used:

**Example OTP QR:** https://www.google.com/chart?chs=166x166&chld=L|0&cht=qr&chl=otpauth://totp/SecretKey%3Fsecret=KY7TSZRWFZBXCMJGHRED6PDOPBSS4WCK
- 1) added

[2014-07-18 02:16] #25 closed, assigned to nobody

[2014-08-09 00:29] catarinamoura opened #27 "first otp generated inconsistent with step parameter"
I have been testing totp function , the first time is running the program and calls the function `speakeasy.totp(...)`the changing time of the one time password is inconsistent with the step parameter.
But after the first time works perfectly. Follows in attach one example:
with parameter `step = 10` and I am calling the function approximately 2 in 2 secs.
I set the `time: parseInt(Date.now()/1000

[2014-08-27 21:21] Wolven531 opened #29 "Unsatisfying HOTP Length Guarantee"
After running some extensive tests, I noticed the length option is not guaranteed to be accurate for HOTP (the length option you pass in to specify the corresponding length of the password). For example:

[code]

Note how fairly regularly, the generated keys are not of the length promised in the contract by length property.

[2014-11-24 10:55] markbarton opened #31 "Local Application"
Is there anyway that you can see using your library locally for a local node-webkit app?  Assuming the application is working offline.

Struggling with protecting the secret.

[2015-01-14 04:43] gcochard commented on #24
@kaosdynamics This is completely untrue. GET queries are still encrypted in a TLS connection. Try loading up https://google.com/?q=tls with wireshark/tcpdump watching. You'll see the TLS handshake (with the domain name if your browser supports SNI). That's the extent of the visibility into a TLS GET request.

It's true that you should not send secrets to a third-party, as it is bad practice and op

[2015-01-27 09:27] sachinra commented on #20
the problem I am facing is with BASE32 decoding.
The Link : https://code.google.com/p/google-authenticator/wiki/KeyUriFormat
The Key : JBSWY3DPEHPK3PXP
otherwise works with any other generated Base32 based on ASCII charset,

[2015-01-30 01:10] vogievetsky opened #32 "Dependency without a license"
Hi, I have noticed that one of your dependancies ezcrypto@0.0.3 https://github.com/ElmerZhang/ezcrypto does not have a license attached to it.

I have created and issue on their repo asking to add a license file: https://github.com/ElmerZhang/ezcrypto/issues/4

Your code has an MIT license which is great, but unfortunately if you depend on code with no license it can not really be MIT code (say ez

[2015-01-30 03:17] markbao commented on #32
@vogievetsky Vadim, Thank you for bringing this to my attention and opening an issue in ElmerZhang's repo. Just now, Elmer added a license to his repo and marked it as MIT licensed, so we're clear to continue using it as a dependency. Thanks for taking the action!

[2015-01-30 04:24] vogievetsky commented on #32
@markbao thank you for looking into this so quickly. Closing the issue.

[2015-01-30 04:24] #32 closed

[2015-02-21 16:44] abdurrachman-habibi commented on #20
+1 @sashimizakana It's fixed by updating thirty-two to 0.0.2

[2015-03-11 19:19] rvdmla commented on #24
If I would use node-qr to generate the QR on my server rather than using Google's service, could the secret key still be reverse engineered by someone intercepting the QR using MITM between my Node server and my client?

[2015-03-11 19:44] gcochard commented on #24
If you are using https, then nobody should be able to MITM the connection. if they do MITM, the secret will be compromised.

[2015-03-11 19:55] rvdmla commented on #24
That's what I thought, thanks for confirming @gcochard

Might be something worth stressing in the README. If any part of the key or QR are sent over non-secure HTTP the entire system becomes easy to compromise and basically moot. This might not be obvious to first time users.

[2015-04-01 20:49] miroamarillo opened #34 "Functional example"
Can you provide a functional example that we can pull?  Just so serve an static html?  Thanks

[2015-06-19 18:08] jasiedu commented on #34
+1

[2015-06-27 07:10] dhirender-tyagi opened #36 "step in topt(key='somekey', step=100); will produce different otp 99% within 100 sec"
because when we do current-time-in-sec/100, suppose current-time-in-sec is 145236230 when i divide it with 100 it will valid for 70 sec only not for 100 sec. In speakeasy.js line no 135

[2015-08-16 14:57] sverkoye opened #38 "(some) hex encoded keys not parsed correctly"
I could not generate correct totp codes. Was using a hex encoded key. I think there is a problem handling some special ASCII chars in my hex key. Anyway here is the fix that worked for me:

Change line:
_key = speakeasy.hex_to_ascii(key);_
into:
_key = new Buffer(speakeasy.hex_to_ascii(key), 'ascii');_

Perhaps it's even better to change this line instead:
_var hmac = crypto.createHmac('sha1', new

[2015-08-19 07:17] ovaris opened #39 "Howto add label to QR image URL?"
I tried several formats for name parameter for adding "label" for account (the one that appears on top of changing 6-digit code). According https://github.com/google/google-authenticator/wiki/Key-Uri-Format it should go like this: `Company: company.com/me@foo.com`

[2015-09-12 19:38] diafygi opened #40 "Switch to using a cryptographically secure random number generator"
`Math.random()` is used to generate the initial key[1]. Please switch to using `crypto.randomBytes()`.

[1] - https://github.com/markbao/speakeasy/blob/d9525fdde341624109557da52ad6cdd270025059/lib/speakeasy.js#L254

[2015-10-01 08:28] Vinayaktech commented on #36
I am also facing the same issue. is there any update on this?

[2015-10-06 21:32] coolaj86 opened #41 "replace ezcrypto with buffer?"
Is there a reason for not using node's built-in buffer?

[code]

Also, I see a few places where you appear to be converting from hex to a binary string instead of using buffer, but then you immediately convert it to a buffer.

Would you be open to some cleanup of this code? Or where you doing it that way for a particular reason?

[2015-10-07 00:16] coolaj86 commented on #40
[code]

[2015-10-07 18:35] coolaj86 opened #42 "use notp instead of own implementation"
The notp module lacks some of the features of this module, but the code surrounding the core hotp / totp is cleaner and more idiomatic to node.js.

Would you accept an api-compatible rewrite based on notp? If so I would be willing to do that.

[2015-10-23 18:59] coolaj86 commented on #40
[Node Authenticator](https://github.com/Daplie/node-authenticator)
================

I wrote [Node Authenticator](https://github.com/Daplie/node-authenticator) as a replacement for SpeakEasy. It uses node's native [crypto](https://nodejs.org/api/crypto.html) module and [notp](https://github.com/guyht/notp).

* https://github.com/Daplie/node-authenticator

[2015-10-23 18:59] coolaj86 commented on #42
[Node Authenticator](https://github.com/Daplie/node-authenticator)
================

I wrote [Node Authenticator](https://github.com/Daplie/node-authenticator) as a replacement for SpeakEasy. It uses node's native [crypto](https://nodejs.org/api/crypto.html) module and [notp](https://github.com/guyht/notp).

* https://github.com/Daplie/node-authenticator

[2015-10-23 19:05] coolaj86 commented on #34
I have some example code for an Authenticator app available in these two repos:

Browser Authenticator
================

I wrote [Browser Authenticator](https://github.com/Daplie/browser-authenticator) as a companion for [Node Authenticator](https://github.com/Daplie/node-authenticator), which will allow you to do the same thing, in the browser.

* **Demo** https://daplie.github.io/browser-authent

[2015-11-03 08:03] coolaj86 commented on #39
See https://github.com/Daplie/node-authenticator/blob/master/authenticator.js#L60

Here's a live demo in the browser:

* https://daplie.github.io/browser-authenticator/ [and code on github](https://github.com/Daplie/browser-authenticator)

Scroll down and you can put in the values you want and then click "Regenerate" to update the URI string and the QRCode.

You can even use the Authy App to test

[2015-11-11 11:01] ovaris commented on #39
Also with live demo you posted, there is no Label when using google Authenticator.
See examples here:

With label:
![image](https://cloud.githubusercontent.com/assets/2553533/11089660/38f45c6a-8874-11e5-95b1-aff6bf27bbc7.png)

Without:
![image](https://cloud.githubusercontent.com/assets/2553533/11089671/4c9b9eb8-8874-11e5-9bb4-01c9438328fa.png)

[2015-11-20 23:40] crbanman commented on #20
+1 @sashimizakana this fixed the issue for me as well.

[2015-12-17 23:52] markbao commented on #41
Thanks, @coolaj86. Closed thanks to #33.

[2015-12-17 23:52] #41 closed

[2015-12-17 23:53] markbao commented on #40
Thanks @diafygi. Closed thanks to #33.

[2015-12-17 23:53] #40 closed

[2016-01-08 19:45] connor4312 opened #46 "Publish updated SpeakEasy"
Glad to see the changes from #21 and #33 were merged in! However, the npm version has not yet been bumped from 1.0.3 that was published three years ago. It'd be great to see a `1.0.4` :smile:

[2016-01-08 20:23] markbao commented on #46
Thanks @connor4312. Bumped version in d27a8a20f9bd874f5d4ecc07dcadb50ce574a5a0 and published to npm. We're also working on a 2.0 in #44 that will incorporate many of those changes.

[2016-01-08 20:23] #46 closed

[2016-01-08 20:23] connor4312 commented on #46
Great, thanks!

[2016-01-24 03:03] markbao commented on #4
No longer needed.

[2016-01-24 03:03] #4 closed

[2016-02-27 04:00] markbao commented on #36
Are you still having this issue with the latest version is Speakeasy?

[2016-03-08 22:33] mikepb opened #51 "API idea: add `expiry` option for longer-term tokens"
Currently, the `window` option option as describing maximum acceptable the margin of error:
- (HOTP) the maximum acceptable difference between the authoritative counter and user-provided token. e.g. `0 <= delta <= +window`
- (TOTP) the maximum difference in seconds between the authoritative clock and the user-provided token. e.g. `-window <= delta <= +window`

For TOTP, it may be useful to allow t

[2016-03-09 03:22] markbao commented on #51
Really neat idea, thank you for writing this up. How will the interaction between `window` and `expiry` be reconciled if both are specified?

[2016-03-09 04:04] mikepb commented on #51
Both `window` and `expiry` may be used together, though after going through this algorithm-writing exercise, I think that accepting an absolute `until` time option is better API design. Similarly, accepting an absolute `from` time option and keeping the current semantics of `time` would allow cleaner separation of concerns in code and likely will reduce the number of issues later on.

## Revised A

[2016-03-14 12:39] developerrajtomar opened #52 "Always getting speakeasy.totp.verify(options) as false"
Hi All,

I'm trying to validate otp using speakeasy. I'm able to generate otp and validate otp within the same request. But whenever I'm trying to validate otp in two phases like: Generate OTP in one step, and then Validate OTP in second step. I'm always getting verify as false.

Below is the code that I'm using for validating the OTP. Please let me know what is the wrong in it.

var express = req

[2016-03-14 12:54] mikepb commented on #52
You may be experiencing clock skew. Try setting the `window` option:

[code]

With a default time-step of 30 seconds, a `window` of 2 should accept tokens generated within ± 60 seconds of the server time.

[2016-03-14 13:05] developerrajtomar commented on #52
Thanks for your reply.

I've already played around time, window, step, counter and all available options and getting same result.

so far I've used values till time: 1453853945, step: 240, window: 100, and counter: 123

[2016-03-14 20:11] mikepb commented on #52
Seems to work fine without Express.

Most often when I run into these kinds of bugs, something isn't getting passed from the browser to the server. Could you provide more information about your webapp? What does the `req.body.code` look like (any extra spaces or characters will fail verification)?

[code]

[2016-03-15 02:01] developerrajtomar commented on #52
Hi Sir,

Thanks for replying again. req.body is the body or entire data that is
passed to a particular url via CURL, or Browser request.

My webapp is a mobile api . That I've built in nodejs, expressjs,mongoose
and mongodb. Now at some point of time I need otp generation and
validation. Those two routes methods provide that functionality.

Thanks
On 15 Mar 2016 01:41, "mikepb" <notifications@gith

[2016-03-15 03:33] developerrajtomar commented on #52
Without Express means inst

[2016-03-15 03:35] developerrajtomar commented on #52
Sorry for reopening the issue, it was closed by mistake.

Without Express means in the same request right? But I need it to work on multiple requests like above. So please let me know that will this module work for me or I've to migrate to another module.

[2016-03-15 22:00] mikepb commented on #52
Have you taken a look at the Speakeasy Demo?
https://github.com/speakeasyjs/speakeasy-demo

I tried it using Google Authenticator and it worked flawlessly.

[2016-03-16 06:04] developerrajtomar commented on #52
Thanks for this suggestion, this work finely for me too, but the previous one was not working for me. Now as this

 method is not available in the documentation of **speakeasy** module on npm and github. So can you please elaborate the **_functionality_** and **_arguments_** of this **"speakeasy.time"** method that I can use in my application.

Thanks

[2016-03-16 07:04] mikepb commented on #52
speakeasy.time is an alias for speakeasy.totp

[2016-03-17 04:01] developerrajtomar commented on #52
ok, in that case do you've some logic behind that **speakeasy.time** is working fine but **speakeasy.totp** is not working. Why it is?

[2016-03-17 07:52] mikepb commented on #52
There is no logic behind your statement. `speakeasy.time` is the same as `speakeasy.totp`.

https://github.com/speakeasyjs/speakeasy/blob/master/index.js#L297

[code]

[2016-04-25 20:04] #52 closed

[2016-06-05 07:27] tarundhillon opened #53 "TypeError: item.copy is not a function"
I have used browserify to create a standalone  js file, I am able to generate a QR code but

1. When I am trying to totp.verify using base32 encoding I am getting an error _"Uncaught TypeError: item.copy is not a function"_ the exact statement is "item.copy(buf,pos) in the Buffer.concat function. Seems like a dependency is missing ?

2. There are no errors shown while using hex and ascii encoding

[2016-06-05 08:41] tarundhillon commented on #53
Also noticed that this error is only given when the encoding is set to base32, but for hex and

[2016-07-06 02:24] robbo5899 commented on #39
I know this is old but for anyone interested adding &issuer=Google to the otpauth url before creating the QRCode would set the label to Google.

[2016-07-09 06:07] abhyuditjain opened #54 "totp.verify always giving false."
I have written a sample express API with only 2 endpoints.
This is the code, logs and output:

https://dpaste.de/2bX5

I have tried a number of times, it is always giving "invalid OTP"

[2016-07-09 06:31] #54 closed

[2016-07-14 12:45] abhyuditjain commented on #51
I was wondering if the expiry was applied to this library or any other library as it would be a more useful idea. Right now, I'm struggling with making TOTPs with a fixed validity. I have tried various combinations of step and window and can't seem to make an OTP with the validity I want. Any ideas on how to do this?

[2016-07-22 06:34] mikepb commented on #51
The simplest solution I can think of is:

1. choose a time step of 1 hour
2. set the window to half your desired validity duration
3. generate codes for the middle of your absolute validity period

Example 1: September 1, 2016 until September 3, 2016

[code]

[2016-07-22 13:54] mikepb commented on #52
[code]

[code]

[code]

[2016-09-28 08:48] winster opened #55 "Token expiry time not available"
Hello,

Please add an attribute to specify the expiration time for the OTP

Regards
Winster

[2016-10-06 14:40] markbao opened #57 "TOTP validity time might not be honored correctly"
https://stackoverflow.com/questions/36796507/increase-validity-time-for-otp-in-speakeasy-node-library

Developer set step to 100, but says "by default it is valid for some seconds after that it verified is false" ... "it does not lasts for 100 seconds.it gets invalidated before 100 seconds; i think 10 to 20 seconds"

[2016-10-20 11:55] rstudner opened #58 "Newb question / can't seem to find it documented"
Are there examples of integrating speakeasyjs with passportjs?  It seems like that is the route a person would go, and i'm amazed I can't find a quick example of that integration :)

(or am I totally missing it, and there is no reason to use both together?)

[2016-10-26 20:00] knoxcard opened #59 "Error on npm install?"
When I run this command on my Debian box:
npm install --save speakeasy

I get the following errors below?  Never have an issue with an npm install, is it just me?

npm ERR! addLocal Could not install /usr/local/nginx/node_services/node_modules/speakeasy
npm ERR! Linux 4.7.0-x86_64-linode72
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "speakeasy"
npm ERR! node v7.0.0
npm ERR!

[2016-10-27 15:49] mikepb commented on #59
Looks like the node_modules/speakeasy directory doesn’t exist. Do you have the proper permissions?

[2016-10-27 22:10] knoxcard commented on #59
I was able to install it by adding the -g global option, but it will not
work without it.  Oh well, works for me!

*npm install --save speakeasy -g
*

On 10/27/2016 8:49 AM, mikepb wrote:

[2016-11-01 06:34] #59 closed

[2016-11-01 06:35] knoxcard commented on #20
Close the issue?

[2016-11-01 14:24] markbao commented on #20
@sashimizakana Thank you for looking into this, and thanks @knoxcard for the ping.

Speakeasy 2.0 no longer depends on thirty-two, and it now depends on [base32.js](https://www.npmjs.com/package/base32.js). I haven't seen these issues on Speakeasy 2.0.

If you're seeing this issue, you can

- Update to thirty-two 0.0.2 as suggested by @sashimizakana.
- Upgrade to Speakeasy 2.0, which is API-compat

[2016-11-01 14:24] #20 closed

[2016-12-20 07:27] id0Sch opened #60 "urls generated by speakeasy.otpauthURL do not match the once generated by generateSecret"
the issue is that generateSecret runs the name property through encodeURIComponent and otpauthURL does not.
would you like me to open a PR to either fix it or change the documentation to show this?
thanks!

[2016-12-21 17:18] railsstudent commented on #60
Yeah, I notice that too. Furthermore,  counter passed to otpauthURL is not appended to query; therefore, the counter in server side does not match the counter in google authenticator app.

[2016-12-21 20:21] mikepb commented on #60
Changing the behavior of `generateSecret` will break backwards compatibility. @markbao Should this bugfix bump Speakeasy to 3.0?

@railsstudent Omitting `counter` in the `otpauthURL` output is definitely a bug. Could you open a new issue for it? Pull request appreciated!

[2016-12-21 20:23] id0Sch commented on #60
I honestly think otpauthURL should change, but it's the same breakage

On Wed, Dec 21, 2016 at 22:21 mikepb <notifications@github.com> wrote:

[2016-12-22 13:34] Celadora commented on #20
I am using speakeasy 2.0.0 and having this issue as well. In the browser, it works fine, but if I run it under nodejs it gives the wrong code - which isn't merely a few minutes off. The timezone on my PC and on my server are the same. Google Authenticator is up to date as well.

[2016-12-22 15:22] railsstudent commented on #60
I can open a new issue.

[2016-12-22 15:39] railsstudent opened #61 "urls generated by speakeasy.otpauthURL do not include counter in query string if provided"
if otp type is hotp and counter is provided, the value of counter is not appended to query string.

[2016-12-22 22:14] mikepb commented on #61
How could we test the HOTP counter URL parameter? Could you provide a test case?

[2016-12-23 14:39] railsstudent commented on #61
I submitted a pull request that includes two test cases.

[2016-12-23 17:08] #61 closed

[2016-12-27 07:38] andreyfalaleev opened #64 "Error using base32 encoding"
Hi everybody,

I am using speakeasy in an Ember application with ember-browserify addon: https://www.npmjs.com/package/ember-browserify

Just encountered that the base32 encoding seems to not work at all.
Considering the following code:
[code]

So, just a secret generation and subsequent using it to create a new token leads to the following error:

The same issue with the speakeasy.totp.verify() m

[2016-12-30 00:21] #60 closed

[2016-12-30 00:25] mikepb commented on #64
We can remove the conditional function to clean up the code as well:

[code]

Would you have time to submit a pull request with test cases?

[2016-12-31 17:55] tonespy opened #65 "Verification keeps failing for HEX and Base32 only ASCII working fine"
I've been trying to understand the module for house now, but couldn't get to understand what is going on. I followed the steps in the documentation, and it still isn't verifying. This is my code

	function getPublicKey() {

		var secret = speakeasy.generateSecret({length: 25});
		var base32Secret = secret["base32"];
		console.log("Secret: ", base32Secret);

		var token = speakeasy.totp({base32Secr

[2017-01-04 13:20] railsstudent commented on #65
There is coding error in line 4 of your sample code.
You forgot to specify property key name 'secret' before base32Secret variable.

var token = speakeasy.totp({secret: base32Secret, encoding: 'base32', window: 6});

After I do it, verify method returns true.

[2017-01-07 00:44] railsstudent commented on #55
Is it current time + options.step if   totp token is requested?

[2017-01-07 01:09] mikepb commented on #39
`issuer` is now an option to `otpauthURL()`

[2017-01-07 01:09] #39 closed

[2017-01-07 01:13] mikepb commented on #42
Thank you for the suggestion. Speakeasy 2.0 was rewritten to be more idiomatic to node.js.

[2017-01-07 01:13] #42 closed

[2017-01-07 01:14] mikepb commented on #29
This has been fixed in Speakeasy 2.0.

[2017-01-07 01:14] #29 closed

[2017-01-07 01:25] mikepb commented on #64
Pull request #66 patches Speakeasy to support this use case. I have tagged this issue as an enhancement for browser support.

[2017-01-07 03:00] railsstudent commented on #65
This issue occurs because the required fields are not checked in hotpVerify, totpVerify, totp and hotp functions. I can make a PR to check the required fields and throw error accordingly.

[2017-01-07 11:41] railsstudent commented on #65
Can I close this issue because it is coding error on the author?

[2017-01-16 15:12] cresolteam opened #68 "How can we change the name which display in application when i scan the qr code."

[2017-01-16 20:03] mikepb commented on #68
The URI format is described here: https://github.com/google/google-authenticator/wiki/Key-Uri-Format <https://github.com/google/google-authenticator/wiki/Key-Uri-Format>

To change the application name, use the `issuer`. To display user-specific account details (e.g. email address), use the `label` field.

In Speakeasy, pass the `issuer` and `label` options to `otpauthURL({…})`.

[2017-01-17 11:18] railsstudent commented on #68
I will create PR to update readme file to show how it is done.
I would like to create another PR to modify generateSecret such that issuer can be passed into otpauthURL from the method.

[2017-01-17 11:23] mikepb commented on #68
The README.md is quite unwieldy. Perhaps a cookbook of recipes could help organize these kinds of how-to questions?

[2017-01-17 11:23] railsstudent commented on #68
I don't know how to create cookbook or faq in github.  Please advise.

[2017-01-17 11:24] mikepb commented on #68
You can try the wiki. I haven’t used much of it, so you’ll get to know it better than me!

[2017-01-17 12:35] cresolteam commented on #68
@mikepb Awesome. It's working thank you so much all of you.

[2017-01-17 15:38] railsstudent opened #69 "generateSecret function can create otpauth URL with issuer parameter"
speakeasy.generateSecret(
    {  name: 'totp@example.com',
       issuer: 'some issuer'
 });
can create an totp otpauth URL with issuer

otpauth://totp/totp%40example.com?secret=<secret>&issuer=some%20issuer

[2017-01-17 23:41] railsstudent opened #71 "Default values of otpAuthURL are inconsistent with the documentation in README.md"
In README.md,  the default values of algorithm, digits, period are sha1, 6 and 30 respectively.  In code, no value is assigned and it works in google authenticator app for now because these parameters are ignored.

In code, the default value of encoding is ascii but README.md leaves the default value blank,
I would like to make the doc and code consistent, so the code does what the documentation s

[2017-01-20 13:32] railsstudent opened #73 "Create a Wiki for speakeasy"
I don't know how to make PR for wiki.
Please go to https://github.com/railsstudent/speakeasy/wiki and have a look.

If you like it, please merge the wiki back to the repo.

Thanks,

Connie

[2017-01-20 17:57] mikepb commented on #73
Great job on the wiki!

Since you have administrative rights for the main Speakeasy repo, you can merge the wiki yourself via git as well. The URL for the Speakeasy repo is:

https://github.com/speakeasyjs/speakeasy.wiki.git <https://github.com/speakeasyjs/speakeasy.wiki.git>

or via SSH:

git@github.com:speakeasyjs/speakeasy.wiki.git

You can check out your wiki using either of:

git clone https:

[2017-01-20 17:59] #69 closed

[2017-01-21 01:13] railsstudent commented on #73
Done.

[2017-01-21 01:13] #73 closed

[2017-01-21 03:30] markbao commented on #73
@railsstudent Thanks for this, looks great.

[2017-01-24 22:07] carbonphyber opened #75 "Security: brute force possible when badly implemented (please improve documentation to help implementers)"
I love the library and it has been very helpful for me.

Recently, my implementation of `speakeasy.totp` failed a penetration test. I wrote [a writeup](https://gist.github.com/carbonphyber/ffa3bdb94d59ea8f8466e34178279db5) on my findings (with a code sample to show how common this can happen with a bad implementation+configuration).

The issue: please improve the documentation (especially around p

[2017-01-24 22:50] markbao commented on #75
@carbonphyber Thank you for taking the time to do the testing and writeup as well as your suggestions for improvement. I think improving the documentation in the areas that you suggest is an excellent idea. I'll do some thinking about how to communicate it in the documentation and will hope to make these changes along with our next version.

[2017-01-25 16:26] #65 closed

[2017-02-07 20:43] mslosarek opened #76 "Does Not Match Test Vectors for sha512 and sha256"
speakeasy does not currently match the test vectors as described here:
https://tools.ietf.org/html/rfc6238#appendix-B

For it to work correctly, the secret needs to be "12345678901234567890123456789012" for sha256 and "1234567890123456789012345678901234567890123456789012345678901234" for sha512

[2017-02-07 21:09] markbao commented on #76
Looping in @mikepb.

@mslosarek, I'm not exactly sure where to find those secrets. Are you referring to the linked table or the example implementation in the RFC?

[2017-02-07 22:13] mslosarek commented on #76
[code]
speakeasy.totp({
    "secret": "12345678901234567890123456789012",
    "encoding": "ascii",
    "time": 59,
    "algorithm": "sha256",
    "digits": 8
})```
returns "46119246" as expected.

The library is not padding the secret correctly, the spec repeats the secret, it appears you might be null padding.

[2017-02-07 22:22] markbao commented on #76
Ah, I see what you're saying now. Thanks for the report - looking into it.

[2017-02-09 19:59] mslosarek commented on #76
Created a pull request #77 to handle the padding issue in the secret.

[2017-02-10 01:38] #76 closed

[2017-02-10 01:41] mikepb opened #78 "Run Standard formatter prior to releasing 3.0"
Use [standard](http://standardjs.com) to format source code, require all future updates to use standard format. Reduces chances of superfluous code changes, such as white-space, slowing down the review process.

[2017-02-10 01:42] mikepb opened #79 "Consider removing deprecated functions for 3.0"
Consult with users about removing deprecated functions for 3.0 release.

[2017-02-10 04:01] markbao commented on #78
Should we have a GitHub PR check for Standard linting?

Also, we're using Semistandard (Standard + semicolons), not sure if there's any interest in changing it.

[2017-02-10 13:19] mikepb commented on #78
I didn’t that was a thing! Semistandard linting would work.

[2017-02-11 00:02] markbao commented on #78
Sounds good. I made sure our 2.0 release passed Semistandard, but likely not the code since.

[2017-02-14 12:58] ivands commented on #64
So when will this patch be merged?
This bug is really annoying.

[2017-02-16 14:38] rstudner opened #80 "Voodoo: Running this in a docker container isn't working?"
So, total voodoo.

If I run my nodeapp just with nodemon.. I can generate QR codes and verify them etc.

If I startup the exact same app, in a docker container.. it generates a QR code etc just fine, but then they fail to verify.

Anyone have any clues?

[2017-02-17 21:16] mikepb commented on #64
A hotfix was committed on January 6. We have not published a new version to NPM yet. You may use the following URL in your package.json to use the hotfix version:
https://docs.npmjs.com/files/package.json#github-urls

"dependencies": {
  "speakeasy": "speakeasyjs/speakeasy#5a3bb0f685fe0229afea53b73951570d2fbbd3f5”
}

Please keep in mind that this commit includes other changes to speakeasy. To view

[2017-02-17 21:18] mikepb commented on #80
Is the Docker container’s clock in sync? Verification depends on accurate time keeping.

[2017-02-26 05:08] saikatharryc opened #81 "every time failstotp.verify()"
Hi, I want to generate a token that will last for a certain time, say for `7200` second,

and my code is below to generate the token:

[code]

and here is the verify:

[code]

[2017-02-26 08:43] saikatharryc commented on #52
Hi @mikepb, how can I generate an OTP so that it says false in validation after a certain time of generation?

[2017-02-26 22:35] mikepb commented on #52
This is what TOTP is designed to do. Take a look at the documentation on how to use the appropriate functions.

[2017-02-26 22:39] mikepb commented on #81
The time step needs to be provided to both totp() and totp.verify(). See https://github.com/speakeasyjs/speakeasy/blob/master/index.js#L286

[2017-02-27 07:07] saikatharryc commented on #81
yeah, i have done the same as you said, but still its failing..says `false`

[2017-02-27 07:11] mikepb commented on #81
You have different values for window in the two functions. Please review the documentation carefully; let us know if we can make it clearer how to use the library.

[2017-02-28 02:33] mikepb opened #82 "Object-oriented API for 3.0"
The current API does not make it clear that certain configuration options must be provided to both token generation and verification functions. I would like to suggest changing the API to capture the configuration state in an API class instance, rather than the current function-based approach.

- [ ] New classes: `HOTP` and `TOTP`.
- [ ] Default instances with recommended quick-start configuration

[2017-02-28 05:03] railsstudent commented on #82
Sound like a good idea.
When this item kickstarts, please let me take part. thanks.

[2017-02-28 05:13] mikepb commented on #82
I can start with whatever contribution you’d like to make. API design, inheritance patterns, quickstart settings, etc. I’d hold off on writing code, though, until people have a chance to provide input.

[2017-02-28 08:01] markbao commented on #82
This seems to make sense given the additional functions that we have now that require some of the same configuration options. What's the easiest way to ensure continuity for current module users? I'd like to allow everyone who has Speakeasy in their package.json to continue using it without having to move to another legacy package.

I could potentially see this as a) a separate module that relies

[2017-02-28 08:04] mikepb commented on #82
Could use the name Passcode for the new API and have Speakeasy implement a compatibility layer on top of the new API. Not that many people use Passcode: https://www.npmjs.com/package/passcode

[2017-02-28 08:08] markbao commented on #71
@railsstudent, PR #74 resolves this, correct?

Sharp eye - thanks for being on top of this.

[2017-02-28 08:14] markbao commented on #82
That could work, as long as we make sure the functions, especially verify, absolutely break (i.e. never return truthy) if someone inadvertently updates to passcode 2.x while using code written for 1.x. Or we can see if there are other names that could work.

[2017-02-28 08:18] markbao commented on #52
@saikatharryc, if you let us know how you'd like to use Speakeasy, maybe we can help with how it can be implemented. TOTP tokens will automatically expire after a certain amount of time as @mikepb says, like Google Authenticator. This may or may not be what you want.

[2017-02-28 10:00] mikepb commented on #82
libotp

[2017-02-28 11:59] railsstudent commented on #71
yes. #74 resolves this.

[2017-02-28 12:10] railsstudent commented on #82
I am not proficient in OO JS and not sure what inheritance pattern.
I can look it up.
I think a new module should be used for version 3.0.
So speakeasy should be used for v1 and v2 only.

[2017-02-28 12:15] mikepb commented on #82
Pure JS prototypical inheritance is tricky. Most people are unfamiliar with it. ES6 introduces the more traditional class inheritance pattern. We can take advantage of Babel to write the new module using ES6.

I agree that a new module would be most appropriate. For lack of a better name, I'll give it the code name of libotp.

[2017-02-28 12:17] mikepb commented on #71
Closing as resolved.

[2017-02-28 12:17] #71 closed

[2017-03-01 16:16] Siyfion commented on #64
This would be hugely useful to me too, is there any timeline in place for a v2/v3 release with this in it?

[2017-03-01 19:17] mikepb commented on #64
@markbao Are we ready to push 3.0?

[2017-03-01 19:17] mikepb commented on #82
@railsstudent Would you be interested in taking the lead for `libotp`?

[2017-03-01 22:12] markbao commented on #64
@mikepb Not yet – I'm a bit busy at the moment and have to review potential issues with API changes.

[2017-03-01 22:18] markbao commented on #82
@mikepb Would prefer if you took the lead since it seems like you have a sense of what an ES6/Babel/class inheritance-based implementation would look like

[2017-03-01 23:20] railsstudent commented on #82
@mikepb  If use ES6/Babel/class, tools such as webpack/gulp may be need3ed for trancompilation. That should be consider for build process.

[2017-03-02 09:55] Siyfion commented on #64
@mikepb & @markbao No problem, thanks for the update anyway, sometimes it's nice just to know that the project/issue hasn't been forgotten about and there are people "on-it". 👍

[2017-03-02 22:25] mikepb commented on #64
Just thought of a more permanent fix. Instead of detecting whether the base32 returns a buffer, always import the client version and have speakeasy initialize a buffer with byte array.

[2017-03-03 14:59] railsstudent commented on #64
@mikepb  I don't understand your previous statement. Care to elaborate?

[2017-03-08 17:56] SimonSchick opened #83 "Can we have a v3 release?"
There are a bunch of things such as making `issuer` work correctly, there hasn't been a release since a year, can we perhaps have a v3-rc?

[2017-03-20 09:35] RazZziel opened #84 "Missing dependencies in package.json"
[index.js](https://github.com/speakeasyjs/speakeasy/blob/master/index.js#L4) imports the `crypto`, `url` and `util` dependencies, but [package.json](https://github.com/speakeasyjs/speakeasy/blob/master/package.json#L40) only includes `base32`

[2017-03-20 13:38] railsstudent commented on #84
It is not an issue.
crypto, util and url are built-in modules in node 0.10.0. No need to include dependencies in package.json.
https://nodejs.org/docs/latest-v0.10.x/api/util.html

[2017-03-20 15:41] RazZziel commented on #84
Hmmm, thanks! Then the problem must be I'm using MeteorJS NPM integration incorrectly.

[2017-03-20 15:41] #84 closed

[2017-04-17 06:17] Shamoncushbu opened #85 "Increase token expiration time"
var token = speakeasy.totp({
                secret: secret.base32,
                encoding: 'base32',
                time:300
            });

            console.log(token);

            var verified = speakeasy.totp.verify({
                secret: secret.base32,
                encoding: 'base32',
                token: token
            });
            console.log(verified);

Always returns

[2017-04-17 17:09] mikepb commented on #85
The time option overrides the TOTP expiry algorithm. The token you generated is valid at 00:05 on 1 January 1970.

[2017-04-18 04:07] Shamoncushbu commented on #85
@mikepb so whats the correct way of using time based tokens

[2017-04-18 10:28] Cheprer opened #86 "Missing issuer option on NPM, outdated package"
I've installed speakeasy module from npm but the index.js is older then in master and referenced in readme.md file. There is missing issuer option to be included in the otp path url. Can you update it please?

Or is there a version to somewhere

Thank you,
Jan

[2017-04-18 23:28] railsstudent commented on #86
The git repo includes issuer option in generateSecret function.

Can you specify "speakeasy": "git://github.com/speakeasyjs/speakeasy.git#e63b936d562fa16c5970d0821a221cf1a59f559b" in package.json to pull the latest source code and pass issuer in generateSecret function?

The wiki https://github.com/speakeasyjs/speakeasy/wiki/General-Usage-for-Time-Based-Token
includes an example to pass issuer val

[2017-04-21 09:26] chinmay43 commented on #52
I'm facing the same issue as @developerrajtomar where all attempts to verify the token (tried by increaing window as well) are failing.
To confirm, I have different API's for generating, getting and verifiying the token and I am not using the QR code implementation.

Generating Secret :-

`
      secret = speakeasy.generateSecret {length:20}
`

I'm persisting `secret.base32` in my DB and reusing i

[2017-04-21 15:40] railsstudent commented on #85
If a custom time token is created, you need to pass the same time value to verify/verifyDelta method.

var token = speakeasy.totp({
    secret: secret.base32,
    encoding: 'base32',
    time:300
});

var verified = speakeasy.totp.verify({
      secret: secret.base32,
      encoding: 'base32',
      token: token,
      time: 300
});
console.log(verified);

The console log statement will return ver

[2017-04-21 23:23] markbao commented on #83
Sorry for the delay. I'm thinking about what to do about the breaking changes but will work on a 3.0 release soon.

[2017-05-01 15:20] SimonSchick commented on #83
Maybe port the entire thing to typescript? 😛

[2017-05-07 23:13] jakelee8 commented on #83
@SimonSchick already did that at https://github.com/speakeasyjs/libotp

Contributions welcome!

[2017-05-10 14:53] SimonSchick commented on #83
@markbao I created some typings for our own consumption, maybe you want to ship these in case you don't want a TS rewrite:

[code]

[2017-05-23 07:25] Cheprer commented on #86
hey @railsstudent thanks for the answer I've tried the code version you've sent and it works. When we can expect to be available through npm?

[2017-05-23 10:07] railsstudent commented on #86
What do you mean by wrong?
The verify function does not return correct value when code is passed in?

[2017-05-23 10:09] Cheprer commented on #86
Verify function returns correct value but scanned QR code with Google Authenticator generates the wrong value.

[2017-06-04 14:20] jakelee8 commented on #86
The secret values are different. Regression?

[2017-06-08 23:42] jeremysik opened #88 "Documentation not up to date (node-qrcode)"
[code]

The node-qrcode package is now installed with `npm install --save qrcode`, `node-qrcode` points to a different package now.

https://github.com/soldair/node-qrcode

[2017-06-17 08:16] Mobasher-NetLinks commented on #52
@developerrajtomar Hi, have you solved this problem? I have the same problem.

[2017-06-28 21:16] shaddyhm commented on #65
This issue above is valid and still going. I used "base32" the token was not validating. Once I switched to the default, which I believe "ASCII," it worked with no problems. I encourage you to take another look at the issue. Thank you.

[2017-06-28 22:52] railsstudent commented on #65
can u provide the code u use?

[2017-06-28 23:10] shaddyhm commented on #65
I can't provide you with the exact code, but here is sort of what I did. Here is the mindboggling part! It worked for some time, but it fails a lot of the time.

[code]
If the code sent by the user is correct, the isVerified is suppose to be true, but that is almost always not the case on my end. Let me know if I am doing something wrong here. Thank you.

[2017-06-30 22:23] BrandonCopley commented on #86
Here's the problem: when you run the code "generateSecret()" and pass in an "issuer" as part of the options, the issuer gets dropped due to the following lines:

Line 474 in index.js

    // add in the Google Authenticator-compatible otpauth URL
      if (otpauth_url) {
        SecretKey.otpauth_url = exports.otpauthURL({
          secret: SecretKey.ascii,
          label: name
        });
      }

[2017-06-30 23:02] BrandonCopley commented on #86
Ahh, this fix appears to already exist in the current branch - what can we do to get this pushed up to NPM?

[2017-07-01 03:03] jakelee8 commented on #83
@SimonSchick Have time to try https://github.com/speakeasyjs/libotp ?

[2017-07-01 03:05] jakelee8 commented on #86
@Cheprer @BrandonCopley Have time to try https://github.com/speakeasyjs/libotp ?

[2017-07-01 03:08] #78 closed

[2017-07-01 03:08] #79 closed

[2017-07-03 09:09] Cheprer commented on #86
@jakelee8 as @BrandonCopley mentioned the problem is that the issuer is not passed to otpauthURL constructor so when I've modified code to something like this then it works (of course it needs some check and defaults on the beginning):

[code]

works for both https://github.com/speakeasyjs/libotp and https://github.com/speakeasyjs/speakeasy

[2017-07-12 11:10] Cheprer commented on #86
@railsstudent @jakelee8 hey guys I can see this code correctly fixed on the repository on master branch but the NPM package doesn't have it. Can you please update NPM package please and close this issue? Much appreciated, Cheprer

[2017-07-12 17:24] jakelee8 commented on #86
@markbao

[2017-07-13 17:26] max-arias commented on #86
+1

[2017-07-16 18:32] jineshshah36 opened #90 "Updated Typescript Typings"
I have put together an updated typescript typings file, but I'm not quite sure how to provide/include it. I'll include it here. If there is a way to add it, please let me know. Otherwise, feel free to use this.

[code]

[2017-07-16 19:37] jakelee8 commented on #90
Thanks for the contribution!

We're working on an Object-Oriented Typescript rewrite of Speakeasy at
https://github.com/speakeasyjs/libotp

It's a work in progress and we would love your contributions there as well.

[2017-07-16 20:39] jineshshah36 commented on #90
Good to know, I'll take a look

[2017-08-01 15:44] piggydoughnut opened #91 "Token from Google authenticator is never verified"
Hello smart people!

I am looking for some help making my implementation work. I read through similar issues but I didn't manage to find help there. I am writing a nodejs server based on Express and using google authenticator to generate codes. Here is my code.

[code]
At first, I thought the problem was that my device time is different from server time. However after setting "time" option verify

[2017-08-02 13:00] piggydoughnut commented on #54
Hey) @abhyuditjain could u elaborate on this issue resolution, please? Thx :)

[2017-08-06 09:52] piggydoughnut commented on #91
Would be very grateful to get any help on this.

[2017-08-07 05:52] backmeupplz commented on #91
@piggydoughnut I would suggest you logging `req.user.twoFactorAuthSecretTemp` inside `/signin/auth_token` route :) please read docs on Express (that's the one you're using, right?) about how `req`, `res` and `next` are generated and used :)

Long story short: the `req.user` from the first route is a completely different object from the `req.user` in the second route :)

[2017-08-07 06:18] piggydoughnut commented on #91
@backmeupplz Hello) Thx to your reply. I am sorry, there is a bit of my code missing there. I am actually saving the user object in the first route so the keys are definitely the same ones. However thank you for noting down the missing part. So both ``req.user.twoFactorAuthSecretTemp`` are the same in both routes.

[2017-08-17 11:29] piggydoughnut commented on #91
If anyone ever gets stuck like I did, here is what was my problem. Implementation was correct and all was working fine. However the time on my Mac was not synced with the time on device. Even though, I am not sure now, but I think I the time seemed to be same on device and on a phone, coz it was one of the first things I checked.

Easy fix is to set both your Mac and iPhone to sync their time with

[2017-08-17 11:29] #91 closed

[2017-08-25 14:10] guillaumev commented on #86
+1

[2017-08-27 21:31] MrXyfir commented on #86
+1

[2017-09-14 05:17] #88 closed

[2017-09-22 12:55] subversivo58 opened #93 "How to export keys to the user?"
Excuse me if I'm wrong, most likely I did not understand the operation.

How do I export a set of keys for recovery?

I'm lost on the following point:

**1:**
The user creates an account in the application (automatically saves a [base32] key to the database)

**2:**
The user logs in and activates the use of 2FA (at this point a qrCode is generated for it to scan and confirm that the user is using

[2017-09-23 02:00] railsstudent commented on #93
I do not think speakeasy supports recovery key yet.
@markbao @mikepb  Is my understanding correct?

[2017-09-23 12:52] BarryCarlyon commented on #86
+1 it's not on NPM yet

[2017-09-23 13:11] BarryCarlyon commented on #86
Also:

if you take the response to generateSecret and then make your own URL you have to pre-encode the label your self as the library isn't. To answer @Cheprer

Which as he reports results in:

![image](https://user-images.githubusercontent.com/20999/30773444-97228dee-a068-11e7-8993-8859dffc433d.png)

The correct function call is:

[code]

The fault when scanning the QR code only failing as the U

[2017-09-23 15:12] jakelee8 commented on #86
@markbao controls the NPM package

[2017-09-25 07:05] Cheprer commented on #86
@BarryCarlyon thanks for wrapping it up. I hope guys will make it stable and put on NPM soon.

[2017-09-25 12:58] jakelee8 commented on #93
Recovery keys are not part of the HOTP/TOTP RFCs, not part of the OTP standard, and not supported by speakeasy.

I would not recommend exposing a feature to verify if an OTP secret is valid. You're essentially giving hackers a way to guess the OTP secret.

Most sites I've used with 2FA offer to text a phone number with the OTP code as a backup. Some services, like GitHub and Google, give users a s

[2017-09-25 15:15] subversivo58 commented on #93
Hum ok ... I think I understand, supply recovery codes should be treated as an application routine with care not to expose the secret key (base32). In short recovery codes should not be derived from this key?

For the time being I thought of generating a set (10 keys) randomly generated with uuid and stored in the database at user input.

If he loses his 2FA application he can use one of these (10

[2017-09-27 14:53] subversivo58 commented on #93
I think I understood, a recovery system should be handled outside the scope of this lib and should not use, reference or derive from the secret key (base32).

Thanks for the help, closing.

[2017-09-27 14:53] #93 closed

[2017-09-28 20:38] wardhanster opened #94 "Does not agree with google authenticator app !"
First of all thanks for the amazing work you guys have put in.
I am using speakeasy on a production project and it appears that google authenticator does not work with this library if "the OTP is generated via google auth app in a different timezone."
the library works just fine with `Authy`
I have my servers in Atlanta US and I was trying to access it from switzerland and I found about this issue

[2017-10-02 23:49] MrXyfir opened #95 "Not working with Authy"
Having a few issues getting this working with Authy. It works with Google Authenticator no problem. If I have Authenticator and Authy scan the same QR code they'll give me different OTPs, with Authy's being incorrect.

Using the latest npm version of speakeasy and qrcode on Node v8.6.0.

*generating the secret/url*
[code]

*verifying the token*
[code]
Only on Authy am I having two issues:

1. Ther

[2017-10-04 01:08] LukeXF opened #96 "Demo kinda works"
[link](https://sedemo-mktb.rhcloud.com/)

First when I enter in a code to verify and then the generated token doesn't actually update (event though the countdown works and it says "updated".

I've also seen that that it just doesn't work at all with the right code?
<img width="720" alt="screen shot 2017-10-04 at 02 07 20" src="https://user-images.githubusercontent.com/6208873/31155796-bdacbd70-a8a

[2017-10-04 12:51] Creativa2 commented on #96
I met this problem too. My authenticator shows the previous token not the actual. (I checked this with console logs.)  At server start the first token is valid but then the second one not refresshing and after that there is a gap between the previous and the actual token.

[2017-10-04 13:01] LukeXF commented on #96
I've noticed refreshing the page generates the right token (you just got to keep refreshing the page). I think Speakeasy is a great project, but if the demo doesn't work then it not going to attract new people to the project.

[2017-10-04 14:59] LukeXF commented on #95
I'm having the same problem

[2017-10-04 15:21] LukeXF commented on #95
I fixed the problem be changing my current code:

[code]
and adding window
[code]
This helped with my server been out of time. Hopefully it will help you too!

[2017-10-04 18:36] MrXyfir commented on #95
@LukeXF Still doesn't work for me.

[2017-10-04 21:56] LukeXF commented on #95
You could try and raising it even more?

[2017-10-04 23:22] LukeXF commented on #86
I'm having the same issue. A string with a space in breaks the url from otpauthURL.

[2017-10-04 23:28] MrXyfir commented on #95
I've compared Authy's and Google Authenticator's codes before and it didn't appear like Authy was simply ahead or behind but simply generating completely different codes. So I don't think that's the problem for me but I'll try it increasing the window maybe to 10 or so and update with my results when I get a chance. Either way though, I really shouldn't have to sacrifice security just to support A

[2017-10-04 23:31] railsstudent commented on #95
I doubt speakeasy supports Authy. @jakelee8 @mikepb

[2017-10-04 23:33] LukeXF commented on #95
You need to get @markbao to update the NPM package but I doubt that will happen anytime soon. Why shouldn't it support Authy? Like @MrXyfir said:

[2017-10-04 23:37] LukeXF commented on #95
After building a 2FA system with speakeasy I can see that Google Auth App works but the Authy App doesn't - how odd! It's a shame if speakeasy won't support Authy because it puts it behind other 2FA systems and so far I'm really enjoying speakeasy, don't want to switch just because of this.

<img width="1047" alt="screen shot 2017-10-05 at 00 35 52" src="https://user-images.githubusercontent.com/6

[2017-10-05 17:05] MrXyfir commented on #95
@railsstudent Authy _should_ (and was built to) work anywhere Google Authenticator works. I use Authy on tons of sites other sites that support TOTP 2FA (most of which only mention Google Auth). I originally used Google Authenticator when I first implemented speakeasy and then switched over to Authy. I was quite surprised when every site worked fine except for my own...

@LukeXF Do you know of any

[2017-10-05 18:17] BarryCarlyon commented on #86
@LukeXF I answered the problem in my solution code:

[code]

[2017-10-05 21:25] jakelee8 commented on #95
Speakeasy should work with Authy if it implements the OTP RFC. If any of you have time, we would welcome a pull request.

I’m working on getting access to the NPM repository. Unfortunately, The original maintainer for speakeasy has gone AWOL. I don’t have much time outside of work to address all the issues. @railsstudent and I would welcome contributions.

libotp is an effort to fix the design dow

[2017-10-05 22:05] LukeXF commented on #95
@MrXyfir I had that exact same issue!

Also I've emailed the NPM owner for speakeasy, let's hope he responds!

[2017-10-05 22:24] LukeXF commented on #86
It still adds in %20 with `encodeURIComponent()`

[2017-10-05 22:31] LukeXF commented on #95
Okay for some reason my code has just stopped working, it's not working on Google Auth either and I haven't changed the code...

[2017-10-05 22:43] LukeXF commented on #95
I found out when I
[code]
I get:
[code]
Which as you can see the `secret.otpauth_url` is:
`otpauth://totp/SecretKey?secret=FZBWG4J7MNYTKSKYIMYSUM2OJQ2VKYSMOZJD632MEQ3XIYZXPJDQ`
Which is different to
[code]
Because that outputs:
`otpauth://totp/me@luke.sx?secret=IZNEEV2HGRFDOTKOLFKEWU2LLFEU2WKTKVGTET2KKEZFMS2ZKNGU6WSKIQ3DGMSNIVITGWCJLFNFQUCKIRIQ&issuer=BetterNodeLogin`

and the secret is clearly di

[2017-10-06 01:15] railsstudent commented on #95
Thanks for the findings. I am not sure about the root cause but i can take a look.

[2017-10-06 02:17] railsstudent commented on #86
@LukeXF  That what encodeURIComponent() does, it  replaces space with %20

[2017-10-06 17:06] markbao commented on #95
All, sorry for the late response here. I've been busy with work and haven't been able to make plans for the next release because of the breaking changes it would introduce, but at the least I think I can help with your issue, @LukeXF.

@LukeXF: Based on your latest comment, you are generating a secret that has a base32 encoding that starts with `FZBWG4J7...`. The key issue here is that when you cr

[2017-10-06 17:11] LukeXF commented on #86
@railsstudent Yes, but the %20 is showing up on Google Authenticator. `Project%20Name` for example instead of `Project Name`

[2017-10-06 17:14] LukeXF commented on #95
Thanks for the input @markbao, I'll give it a look at later today! Also any news on updating SpeakEasy on NPM?

[2017-10-06 17:16] LukeXF commented on #96
Demo is now altogether down. `Service Unavailable` it's been like that since last night.

[2017-10-06 17:16] markbao commented on #95
@LukeXF The issue is that there are some breaking changes in the next release. I've been waiting to do an assessment of what the potential impact of the breaking changes would be, but that takes some time and I haven't been able to get around to it.

[2017-10-06 17:16] jakelee8 commented on #86
Sounds like double escaping

[2017-10-06 17:21] markbao commented on #96
Unfortunately, Red Hat discontinued their free hosting offering a few days ago. I'm working on getting it back online.

I think the issue here is that a request for a new token only updates if the system time's seconds is at :00 or :30. So if it is time 00:00:00 and the system time is fast by 5 seconds, and it asks for a second token at what it thinks is 00:00:30 but is actually 00:00:25, then it

[2017-10-06 17:24] markbao commented on #95
@MrXyfir Thanks for your patience on this. I read your code but don't seem to see any issues in it. Can I ask you to try to use the `generateSecret()` function's `otpauth_url` return value to generate a QR code and see if that works in Authy?

See this comment for more info: https://github.com/speakeasyjs/speakeasy/issues/95#issuecomment-334610233

[2017-10-06 17:28] markbao commented on #94
Hi there, thanks for submitting this issue. Usually, these issues are caused by your system time, either on your server or your client, not being in sync. Could you check that both of your systems are correct, to the second, to the official time? One site you can use is https://time.is/.

There should be no issues across timezones – the time is automatically corrected to UTC.

[2017-10-06 17:37] markbao commented on #86
@LukeXF Are you using the npm 2.0.0 version of the package, or the latest master from git?

In the npm version, label is not URL-encoded: https://github.com/speakeasyjs/speakeasy/blob/4e0aa91dee166306e07ea11e371d5a5df95f4391/index.js#L644

In the latest master from git, it is: https://github.com/speakeasyjs/speakeasy/blob/master/index.js#L704

In the latest master from git, issuer *should* be URL-

[2017-10-06 22:57] LukeXF commented on #96
If you want are looking at hosting the project then I don't mind putting it on one of my own Digital Ocean Droplets if you have the demo code on GitHub? I'm more than happy to help contribute to this project as it's helped me a lot in getting 2FA working.

Also I check out what you sent me, turns out even though my Macbook's time is synced to Apple's servers - it was over 45 seconds out haha. Sync

[2017-10-06 23:02] LukeXF commented on #86
@markbao I'm using NPM 2.0.0. But even with using `encodeURIComponent()` myself, the `%20` still outputs as `%20` and not a space. Any suggestions?

[2017-10-06 23:30] markbao commented on #96
Thank you for the offer! Really appreciate it. I’ll look into what the best options are and will let you know.

That definitely would result in the mismatched times. Let us know how it goes. In the meantime I’ll keep this issue open until the demo is back online.

[2017-10-06 23:38] markbao commented on #95
@MrXyfir Thanks for trying that. When you generate the 8-digit otpauth:// URL, do you see 8 digits or 6 digits in Authy?

Could you also try:

- editing your code above and printing what the output is of `otpauth_url` from `generateSecret()` and comparing it to the one from `otpauthURL` with none of the additional digits, algorithm, or issuer parameters
- checking if this URL works with Authy
- ad

[2017-10-07 16:28] LukeXF commented on #95
@markbao I use Authy primarily and I have a few sites that use 7 digit codes as well as 6 (fyi, I don't have any 8 digit site yet), so I know that they're not just limited to 6 digit codes.

[2017-10-07 18:09] LukeXF commented on #95
@markbao great news, got custom URL building working! And it works with Auth as well as Google Auth. AND it fixed my space encoding problem. Thank you, I should of really read over the docs again, but yes, adding the encoding so it's not defaulted to ASCII fixed the problem.
[code]

[2017-10-07 18:13] LukeXF commented on #86
Problem was with base32 encoding. Because I'm using a base32 secret, I needed to specify an encoding so that it didn't load ASCII be default.

See https://github.com/speakeasyjs/speakeasy/issues/95#issuecomment-334955321 for reference.

[code]

[2017-10-12 10:23] salman- opened #97 "crypto.randomBytes is not a function"
I am trying to use speakeasy, in my Angualr4, and Typescript. In line
`let secret = speakeasy.generateSecret({length: 20});`
 it complains with the error:
`crypto.randomBytes is not a function`

How can i fix it?

[Described question in Stackoverflow](https://stackoverflow.com/questions/46705129/crypto-randombytes-is-not-a-function)

[2017-10-12 20:00] conorgil commented on #97
@salman- the link to SO doesn't work. Did you solve this, or is it still a problem? Are you trying to run this in a browser?

The Web Crypto API has a method [getRandomValues()](https://developer.mozilla.org/en-US/docs/Web/API/RandomSource/getRandomValues), while NodeJS uses [randomBytes()](https://nodejs.org/api/crypto.html#crypto_crypto_randombytes_size_callback).

I've just started playing arou

[2017-10-12 20:45] conorgil opened #98 "Master branch and v2.0.0 tag produce different totp tokens"
I have been banging my head on this for a while and need someone to either tell me what silly thing I'm doing wrong, or help me figure out why the master branch is broken:

**package.json**
[code]

**main.js**
[code]

**Now, install and run:**
[code]

Any thoughts, comments, hints, suggestions, second set of eyes, etc, etc are seriously appreciated. Thanks!

[2017-10-14 03:46] MrXyfir commented on #95
@markbao Sorry for the late response, been very busy.

I think I *may* have figured out the issue.

For the following tests I sent the url given from `generateSecret()` to the client.

- With no settings other than name/label. This **works** with Authy.
  - **generateSecret()**: `otpauth://totp/mr%40xyfir.com?secret=EU3DUV3OEMYT6SJFOY4SQQZZPI3TEW3RPU2TG6SQPBBCKILIOFYQ`
  - **otpauthURL()**: `otpau

[2017-10-14 15:29] MrXyfir commented on #95
So I used `encodeURIComponent()` on the `label` for `otpauthURL()` and it **worked** with Authy.

I'll now try passing different values to `otpauthURL()`. Remember, I'm url-encoding `label`.

- `algorithm: 'sha512'`
  - This **does not work** with Authy.
  - `otpauth://totp/mr%40xyfir.com?secret=IN6U2KKJOZZXASTQK5ND6MDDHFBFWQKYLVMEMUBJFBXD4KT5KZUA&algorithm=SHA512`
- `digits: 8`
  - This **works**

[2017-10-18 16:38] LukeXF commented on #96
Not had a problem since I fixed my mac's timing.

How did the search for hosting go? Let me know if you want me to put up the demo, shouldn't take any time away from you.

[2017-10-23 19:08] conorgil commented on #98
Any thoughts/comments from the maintainers?

[2017-11-06 02:25] Jinnified commented on #85
so what's the expiry time then? 30 seconds? or how do i increase the expiry time?

[2017-11-19 14:02] SimonSchick commented on #98
There are a LOT of changes between master and 2.0.0 and there hasn't been a release in a while, the API probably changed.

[2017-12-01 16:03] forevermatt commented on #95
Based on [this documentation](https://github.com/google/google-authenticator/wiki/Key-Uri-Format#issuer) about the otpauth URL syntax, the recommendation seems to be that you include the `issuer` both as an `issue` key in the otpauthURL options and as the prefix to the `label` key.

We also recently discovered that Authy and Google Authenticator on iOS will reject the otpauth URL if the `issuer`-p

[2017-12-13 09:20] Hereward commented on #96
The demo project link is still not working. The package looks very interesting but not sure if I should invest time into it there is not a working demo?

[2017-12-14 10:52] Cheprer commented on #86
I've used @LukeXF 's way and it works. Big thanks but even though the function generateSecret doesn't work properly still because it generates ASCII secret and then from it it generates the base32. Maybe there is a glitch. If I'll have time. I'll try to make a pull request with fix but not sure when. So I would keep this issue still open.

[2017-12-20 17:58] wairton commented on #96
@Hereward  It is possible to run the demo locally, just clone https://github.com/speakeasyjs/speakeasy-demo then run `npm install` and `npm start`. A local version will be available at localhost:8081. I know it doesn't solve your problem but it helps

[2017-12-23 08:54] Hereward commented on #96
Thanks :)

[2017-12-23 09:01] Hereward opened #99 "Google Token does not match generated token (clock is accurate)"
I am running meteor app on Windows 10 with speakasy installed.
time.is reports:

However the tokens do not match - at all.

This is my code:

`    verifyToken() {
        var myToken = this.state.authCode.trim()

        let currentValidToken = speakeasy.totp({ secret: this.secretBase32, encoding: 'base32' });
        let verified = speakeasy.time.verify({
            secret: this.secretBase32,

[2017-12-23 15:42] markbao commented on #99
Hi there, can you check that the time is accurate both on the device you’re using to get tokens (the device running Google Authenticator), as well as the server running the code? Your code looks right, so that’s the first thing I would look at.

The next thing to check is whether the key you’ve inputted into GA is the same as the key you’re verifying with. If we find that the times on the two devi

[2017-12-23 16:05] Hereward commented on #99
Yes I've confirmed that the time on my Android phone is correct using the time correction feature in Authenticator.

This is the key I'm using:
FRWFINCSNFMGKTDYGAXSIVCKJNOV2I2UF5CWE22BGVAEIMDFKR6Q

I followed your advice and put that key in manually as a separate entry. They are both now generating the same codes (ie. the Auth tokens for the manually entered key and the key generated by the QR cod

[2017-12-23 16:08] Hereward commented on #99
One possible reason for this is that I'm executing this code on the client in Meteor rather than the server. I would have though the clock would be the same as both client and server are on the same machine - but I'll try executing the function on the server to see if that makes a difference.

Any other suggestions greatly appreciated.

[2017-12-23 16:25] markbao commented on #99
Thanks for checking those. So the JS code is running on the client? The package doesn’t support (as in, it hasn’t been tested) usage on the client side - it’s exclusively for server side use. Do try to see if it works on the server and let me know what you find.

[2017-12-23 16:52] Hereward commented on #99
Thanks - I'll see if I can do that although the implementation in Meteor is quite different to your demo app. I'll see if I can get that working too,

[2017-12-27 10:43] Hereward commented on #99
I have changed the implementation in Meteor to execute the speakeasy functions on the server.

This did not fix the problem. The package is working, but it generates a different set of tokens to Google Authenticator. I have re-checked that my clock is accurate.

The tokens on Authenticator my app are synchronised in that they update at exactly the same moment, but they always have different values

[2017-12-28 09:23] Hereward commented on #99
Can I ask how critical is the time synchronisation to the speakeasy function working right. I cannot get my clock correct to less than 0.2 secs. I have sycned the time dozens of times as well as tried time.nist.gov & time.windows.com as well as trying to manually sync the time by watching the clock and setting the time by hand. I have also tried resetting my Windows time service. I've spent many h

[2017-12-28 15:55] markbao commented on #99
I don’t think clock sync is the issue here - usually it is when the clock is significantly out of sync, which it isn’t in this case. Can you try to get the demo application working? That will help us see if it is an implementation issue or something different.

[2017-12-30 22:39] MrXyfir commented on #95
@forevermatt Thank you! That fixes my issue with the issuer not showing on Authy!

[2017-12-31 09:22] pukapukan opened #100 "Demo site isn't reachable"
FYI. It seems like https://sedemo-mktb.rhcloud.com/ is down at the moment

[2018-01-04 02:30] lyquocnam opened #101 "Google Token does not match when increase step !"
i try to generate token:
[code]
verify token:
[code]

if i enable step option, it will not work with Google Auth Token. It worked when i remove `step` options.

What i missing ?

[2018-01-07 09:50] TomasHubelbauer opened #102 "Same secret with Google Authenticator and SpeakEasy, different tokens"
Hey, I have obtained a TOTP shared secret key from GitHub and I have manually inserted the secret to both Google Authenticator and SpeakEasy and verified that the values are correct. I did this twice manually and once using the QR code from GitHub to set up Google Authenticator.

Here's my SpeakEasy code, I am using literally just this line:

[code]

The secret is a string in the format of 16 lowe

[2018-01-07 11:14] kmahalingpur commented on #52
@developerrajtomar Hi im also facing same issue..can u tell how u solved??

[2018-01-07 17:11] TomasHubelbauer commented on #94
I have the same issue in #102 and my system time matches time.is to a second.

[2018-01-07 17:24] TomasHubelbauer commented on #102
Interestingly, I have the same problem with NOTP: guyht/notp#47. SpeakEasy and NOTP give me the same code, but it is not accepted by GitHub and is different from Google Authenticator and Microsoft Authenticator, which both give me the same, valid, code.

[2018-01-07 19:48] markbao commented on #102
Thanks for the detailed report. Can you use https://time.is/ to check that both of your devices have the correct time?

[2018-01-07 19:51] markbao commented on #102
Thanks for the detailed report. I saw you mentioned in the other thread that you checked your time already and it was accurate. I think the issue here is that the given key is base32 encoded, but the `totp()` function’s default encoding is `ascii`. Specify the encoding as `base32` (see documentation) and let me know if that fixes the issue.

[2018-01-07 19:58] markbao commented on #101
Google Authenticator only supports a time step of 30 seconds.

[2018-01-07 20:11] TomasHubelbauer commented on #102
@markbao Yeah, that fixed it! Thank you. I didn't realize the encoding was BASE63, I tried to specify encoding before, but with `ascii` which was no good. Should I contribute an example to the README?

[2018-01-07 20:11] #102 closed

[2018-01-07 20:20] TomasHubelbauer commented on #102
Actually, I was incorrect. The example is already in the README, I just missed it.

[code]

[2018-01-07 20:21] markbao commented on #102
No problem, glad to hear this solved the issue.

[2018-01-08 01:10] lyquocnam commented on #101
@markbao so how can i send token to email, i mean we can get both methods are using by Google Auth and receive auth token on email ?

[2018-01-11 02:44] zhaofeihao opened #103 "where is the qrcode image actually saved?"
where is the qrcode image actually saved after generated

[2018-01-11 03:09] zhaofeihao commented on #100
https://github.com/speakeasyjs/speakeasy-demo

[2018-01-11 03:49] markbao commented on #103
This package doesn't natively include code to display a QR code. If you're using the example code from the README, it doesn't store the QR code anywhere, instead it converts the QR code into a string which represents the image (a data URL) which you can put inside an <img src> tag.

[2018-01-11 03:55] markbao commented on #100
It is, sorry about that. The link above contains the repo for the demo if you want to look at the code.

[2018-01-11 03:56] zhaofeihao commented on #103
@markbao so it means every time generate a new qrcode image? how i can generate the same qrcode for a specfic user with his username and password

[2018-01-11 04:06] markbao commented on #101
I see. Can you tell me more about what your setup is - you are generating a token and sending it to a user via email? And you are allowing a user to input both the code from GA as well as from the email?

I think the option you're looking for would be `window`, not `step`. However, in this case there would be a two-sided window, so if you specify window to be 5 minutes, it would accept values from

[2018-01-11 04:08] markbao commented on #103
Can you explain to me your setup? Generally you would want to generate a key for a user, and then save that key to the user's account, and then show the QR code based on that key to allow the user add the key to their phone app. Generally you don't show the QR code again.

[2018-01-11 04:18] zhaofeihao commented on #103
@markbao ohhh,I see your point! thanks very very very much! btw
<pre>
var segs = [
    { data: username, mode: 'alphanumeric' },
    { data: password, mode: 'numeric' }
  ]

  QRCode.toDataURL(segs, function (err, url) {
    console.log(url)
  })
</pre>
can i config like this to generate a qrcode for each user,so that it is unique?

[2018-01-11 06:08] markbao commented on #103
I don't think this is the right way to do it - this looks like you're creating a QR code from the user's username and password, not their key. You first need to generate a key for the user - the user's username and password are not supposed to be their key. Next, you need to put the key in the QR code, and there is a specific string format that the key should be in (an otpauth URL). Do not create

[2018-01-12 02:28] lyquocnam commented on #101
@markbao  thank you for your tutorial, this resolved by using `window: 5` not `step`.
thanks for great project !

[2018-01-12 02:28] #101 closed

[2018-01-12 02:53] zhaofeihao commented on #103
@markbao thx~

[2018-01-12 02:53] #103 closed

[2018-01-25 15:09] joaonice commented on #83
Any news on version 3.0?

[2018-02-12 13:24] krisver opened #104 "window increasing"
Hi,
I'm using speakeasy in one of my project and I have problem with window under the verification function.
Code looks like that:

var tokenValidates = speakeasy.totp.verify({
  secret: secret.base32,
  encoding: 'base32',
  token: '123456'
});
everything was working, but month later I couldn't login because verification failed. I added window: 2 and everything start to work. Another month later

[2018-02-19 15:27] amreladawy opened #105 ""list" argument must be an Array of Buffers"
The following code is throwing an error "list" argument must be an Array of Buffers

`speakeasy.hotp({ secret: 'ir6jqgomwnldmrhn', encoding: 'base32', counter: speakeasy._counter({}) })`

I am doing this in an angular 5  app.

[2018-02-19 15:32] amreladawy opened #106 "Object.create() clears the options from `totp` method"
When using the `totp` the passed options are cleared when they are cloned.
`  options = Object.create(options);
`

`speakeasy.totp({ secret: 'ir6jqgomwnldmrhn', encoding: 'base32'})
`

I am using it in an Angular 5 app.

[2018-02-20 04:02] #106 closed

[2018-02-21 07:44] adrai commented on #99
If you have to support Android devices, make sure you're using algorithm: sha1

[2018-02-21 07:45] adrai commented on #95
If you have to support Android devices, make sure you're using algorithm: sha1

[2018-02-21 07:45] adrai commented on #94
If you have to support Android devices, make sure you're using algorithm: sha1

[2018-02-21 07:48] TomasHubelbauer commented on #94
I should mention my issue in #102 got resolved, maybe you were experiencing the same thing, @wardhanster?

[2018-02-21 17:18] rajatrawataku1 commented on #94
adrai I am new to 2FA. Can you tell me how to we use sha1 in this?

[2018-02-21 18:25] adrai commented on #94
The default is always sha1 (https://github.com/speakeasyjs/speakeasy#totp). As long as you do not set the algorithm to sha256 or sha512 in combination with Android devices, everything is fine.

[2018-02-27 10:59] Piliponful commented on #100
@markbao It also doesn't accessible.

[2018-03-07 14:37] monkeyBone commented on #105
Having the same exact error in a React app on the verify.

[2018-03-09 06:58] blackhawkbigpunch commented on #105
I got the same issue when I used 'base32' as encoding. Use 'ascii' or any other encoding.
This is issue is caused because of this code:
[code]
which makes the key string to buffer for further processing(creating hmac which needs 'secret'/'key' to be buffer ).
As of now, I would suggest trying other encoding options.

[2018-03-10 05:06] amreladawy commented on #105
Hi @blackhawkbigpunch , The point is that the key is generated at the server side and it is base32. The client must generate the correct topt and send it to the server for validation. I have to use base32 encoding.

[2018-03-14 18:50] harshjv commented on #99
@markbao this is because of https://github.com/speakeasyjs/speakeasy/blob/master/index.js#L533

Google Authenticator needs `base32` tokens.

You can;

[code]

[2018-03-20 22:12] mhingston commented on #105
I had the same issue but resolved it by using master. The last released version is over 2 years old.

[2018-04-02 17:50] chipe13 commented on #105
Is speakeasy not supported anymore. Last update was a while ago

[2018-04-06 14:22] AndoKarim opened #108 "Already used token"
Hello,
it's more a question than an issue. How the system should handle the fact that we use twice a token? (To avoid Man In the Middle attack). Should the library handle it or our implementation?

Thank you in advance.

[2018-04-23 10:27] roxcity commented on #52
I am also facing this problem, has anyone fixed this issue?

[2018-04-24 20:13] programmrz opened #109 "Google Auth app not accepting auth token seed"
I generate the token and save it to my DB as this with
`var secret = speakeasy.generateSecret();
  console.log(secret.base32);
 QRCode.toDataURL(secret.otpauth_url, function(err, data_url){
    const registerUserQuery = `INSERT INTO users (username, 2FASeed, seedURL) VALUES ('${username}', '${secret.base32}', ${data_url})`
    mySqlConnection.query(registerUserQuery, registrationCallback)
  });
`

[2018-04-30 10:09] kamal0808 commented on #80
In sync with what? @mikepb

[2018-04-30 16:14] mikepb commented on #80
https://en.wikipedia.org/wiki/Network_Time_Protocol <https://en.wikipedia.org/wiki/Network_Time_Protocol>

[2018-04-30 16:16] kamal0808 commented on #85
@mikepb Could you answer this?

[2018-05-17 08:37] Prinzhorn commented on #105
@amreladawy you don't. It's just an encoding. You can let the server create a hex version of the same secret and use that on the client. I just had to do that to use the same secret in cypress testing code that runs in the browser.

On the server:

[code]

Now you can do that on the client

[code]

[2018-05-18 10:32] amreladawy commented on #105
Thanks @Prinzhorn
Due to the long time it took to get a reply on this, I switched to jssha https://github.com/Caligatio/jsSHA which I had to use specific version `1.6.0` to get it working.

[2018-05-25 07:33] kamal0808 commented on #80
@mikepb I understand the issue now. I misunderstood the `time` attribute in `verify.totp` for `the time in ms until the otp remains valid, like an expiry time for the otp` . I had put the value for time to be `60000` thinking it would be valid for the next 60 secs.
Now I understand the time attribute is meant for the current UNIX timestamp.

This brings me to another question, how would one set th

[2018-05-25 10:21] krenor commented on #81
I'm trying to add a test which validates the generated token is invalidated after `step` seconds. I can't wrap my head around why it fails when `time` is set to `Date.now()`. Even though it's used under the hood as the default value. What am I missing? :/

[code]

[2018-05-25 11:47] krenor commented on #81
Even thought its kinda late, but maybe it'll still be of use to you @saikatharryc
This is my test case to validate that the token is truly invalid at the very next step mark:

[code]

[2018-06-29 00:48] ygweric commented on #105
[code]
Convert base32 secret to ascii, then to hex will work

[2018-07-10 09:32] krenor opened #111 "[help] Does this library offer a way to generate backup codes?"
https://help.github.com/articles/recovering-your-account-if-you-lost-your-2fa-credentials/

Or are backup codes not based on the 2FA secret or anything else known about the user (like the identifier)?

[2018-07-12 13:50] SeunghunSunmoonLee opened #112 "could you provide guide for implementing it with passport.js ?"
could you provide guide for implementing it with passport.js ?
thanks

[2018-07-13 09:55] krenor commented on #111
Found the answer myself.
https://github.com/speakeasyjs/speakeasy/issues/93

Sorry for duplicating the question!

[2018-07-13 09:55] #111 closed

[2018-07-19 13:13] ninofiliu opened #113 "Can't resolve 'crypto'"
Hi Angular users!

As some of you may have encoutered, the line:

[code]

throws the error

[code]

I resolved it by commenting out, in `path/to/node_modules/speakeasy`:

* The line `crypto = require('crypto');` (Crypto is already included in recent version of Nodes)
* The export `exports.generate_key`
* The export `exports.generate_key_ascii`

It now works but I'm worried about the side effects.

[2018-07-24 11:24] ninofiliu opened #115 "totp.verify doesn't throw any error when invalid options are passed"
Short issue here!

I inadvertently tried to calculate

[code]

And I had trouble debugging my program - the function spent a lot of time computing and never returned. I think a better behavior would be to check the validity of inputs and throwing errors when invalid options are passed.

[2018-08-17 02:28] Leekyungun opened #116 "Android and iPhone create qrcode is different."
Hi, I use the spakeasy module to generate the opt.

![image](https://user-images.githubusercontent.com/12290390/44244572-8edf2d00-a20f-11e8-9eef-45c896f88cff.png)

I found a different QR code on Android and iPhone.

Android ignores algorithm options and makes QR code
The iPhone uses an algorithm option to create QR code.

![image](https://user-images.githubusercontent.com/12290390/44244730-59870f0

[2018-08-17 09:51] Leekyungun commented on #116
@markbao Can you help me?

[2018-08-24 15:36] joaonice commented on #86
@markbao any plans on releasing a new version where the `issuer` is passed to the `otpauthURL` function on `generateSecret`?

[2018-09-20 09:18] AnKlim commented on #52
@markbao I have the same usue as another mens.

[2018-09-23 13:21] Valindo opened #117 "Demo Link broken"
Issue description is in the title.
Here is the demo URL [https://sedemo-mktb.rhcloud.com/](https://sedemo-mktb.rhcloud.com/)

[2018-10-17 10:02] F3L1X79 opened #118 "speakeasy alternative"
It looks like the project has been abandonned as of today.
Looking at the issues which are still open, I am wondering if it is still safe to use speakasy actually (I'm writing this in October 2018)?
If not, is there any alternatives for node.js that you would recommend?

[2018-10-30 12:46] pdashford opened #119 "Manual entry"
Hi all.

If the user is unable to scan the qrcode, google authenticator has a manual entry option. What would the user enter in this field, I would assume it would not be the secret key that gets generated? Thanks

[2018-10-31 08:01] tsvetan-ganev commented on #118
I'm currently using [otplib](https://www.npmjs.com/package/otplib). It works for Node.js, browsers and even for React Native (with some dirty hacks).

[2018-10-31 14:35] behnoodk commented on #119
`secret.base32` is what Google Authenticator expects when entering the secret manually. I have tested this with Google Authenticator for iOS.

[2018-11-01 14:04] behnoodk commented on #119
@DmitryGG I'm not a security expert but here is what I know.

Totp is generated using a secret that is shared between user and provider. So your user must have the exact same secret that you saved in your database for them to be able to authenticate. You can either send them the plain base32 encoded secret to enter into Google Authenticator or a similar app like 1Password, or convert the secret to

[2018-11-27 07:29] Karthi-SRV opened #120 "Difference in validation of QR codes between iOS & Android versions"

[2018-12-05 17:29] cortesa opened #121 "Error on verify/get token"
Hi, all
I think I found a bug in the snippet in the readme.md file, encoding option expect an array and in doc are like a string, so I change to `encoding: ['base32']` and it works like a charm.

![image](https://user-images.githubusercontent.com/11801422/49531903-952b0f00-f8bb-11e8-9bbc-5b8d2adaea46.png)

[2018-12-13 12:16] rhrahul opened #123 "Unable to resolve module 'crypto'"
Hey,

I am facing this issue,

`error: bundling failed: Error: Unable to resolve module "crypto" from "..\myProject\node_modules\speakeasy\index.js": Module "crypto" does not exist in the Haste module map
`

I am using React Native v0.57.7

Any Suggestions Please ?

[2019-01-10 01:05] Herover commented on #113
Sorry for this late answer, but for people running into this problem: `crypto` is a node.js library and not available in the browser. Since there seems to be no way to provide a alternative to `crypto` theres no way to use this library in a browser except for removing the import and not use any functions related to generating or verifying keys (which you probably shouldn't do in a browser anyways?

[2019-01-11 09:53] ninofiliu commented on #113
I was using speakeasy as a server response emulation in my front-end while waiting for the back-end team to implement the rest of the MFA, so I needed speakeasy in the front-end *but not for production*.

But thanks for the (late) input! This resolve my issue.

[2019-01-11 09:53] #113 closed

[2019-03-12 21:35] NishidaRyu416 commented on #123
According to an item on stackoverflow.

The crypto module is a built-in Node module; React Native runs JS on JavaScriptCore (when on the device or simulator) and on Chrome itself (when using Chrome debugging), so modules that depend on built-in Node.js modules won't work. See the JavaScript Runtime section of the React Native docs for more info.

[2019-03-27 15:58] chenrui333 commented on #117
duplicate of https://github.com/speakeasyjs/speakeasy/issues/100

[2019-04-26 16:14] MacgyverMartins opened #124 "How to generate a token that is valid only 15 minutes after been generate"
Hi all!
I'm tring to implement this logic:
User types his email and the API send him a token by email (without use Google Authenticator) .
This token has to be valid only for 15 minutes. But all my tentatives after generate token return false.

First question: Can I do this with speakeasy without use Google Auth.. ?
Second question: If yes, do you guys can help me, by showing what I am doing wrong

[2019-04-28 23:34] railsstudent commented on #124
use window delta

[2019-04-29 20:54] MacgyverMartins commented on #124
Thanks @railsstudent
Sorry, but I still don't understanding very well.

I try this:
[code]

Is that right? Is this the right way ensure that token is valid only 15 minutes from now?

[2019-04-30 02:55] railsstudent commented on #124
Sorry, my previous reply is incorrect.

if the token is valid for 15 minutes, step is 60 * 15 = 900. Therefore,

// token expires every 15 minutes
token = speakeasy.totp({ secret: secret.base32, encoding: 'base32', step: 900 });

// validate token against the current time
// return true
speakeasy.totp.verify({ secret: secret.base32, encoding: 'base32', token: token, step: 900});

// compute the de

[2019-04-30 14:31] Rc85 opened #125 "Delay with server"
After scanning QR code, if I immediately enter the 6 digit after the refresh on the Authenticator app, it does not verify.

Using the `speakeasy.totp()` to generate the token and console logging it, it shows the 6 digit from before the refresh.

I have 2 middleware, one is to generate the base32 and QR code. I store the secret in `req.session.user.secret`. Then in my second middleware, where I do

[2019-05-04 00:18] kevin1193 opened #126 "Invalid format when using Google 2FA in iOS."
The url generated works fine in android, but we have encountered issue in iOS

[2019-05-18 21:09] abdullah2993 opened #127 "Publish a new version on npm"
Kindly publish the latest to `npm`.
This: https://github.com/speakeasyjs/speakeasy/pull/72 among others are not present in the current package.

[2019-06-25 11:41] bifot commented on #127
You can install package via git: `npm i speakeasyjs/speakeasy -S`.

[2019-08-20 02:10] scottyh527 commented on #85
I added a time to mine but the token stays the same no matter what, is this suppose to happen? When I take out the time it changes the token but quite frequently, I feel like the documentation didn't explain this well.

var token = speakeasy.totp({
      secret: secret,
      encoding: 'base32',
      time: 120,
    });
    return token;
    console.log(token);
  }

[2019-10-21 12:45] mikgross commented on #86
Hi all, old issue but the issuer still misses in NPM on the generateSecret() method. Any plans to implement it?

[2019-12-17 04:12] inakarune commented on #52
I also have this problem. somebody help me!

[2020-03-05 15:20] mustapha1509 commented on #105
Solved,
In "node_modules/speakeasy/index.js" replace from line 39 to 41 with this code

`if (!Buffer.isBuffer(secret)) {

    secret = encoding === 'base32' ? new Buffer(base32.decode(secret)) : new Buffer(secret, encoding);

  }`

[2020-03-10 16:18] zeke opened #129 "command line interface (CLI)"
Hello there 👋

 It appears this package does not have a command-line interface. It would be handy to have one that could be used like this:

[code]

Is there a particular reason this is not supported? Would you be open to a pull request to support this behavior?

[2020-03-10 16:35] zeke commented on #129
This is how our team is currently faking a CLI:

[code]

[2020-03-23 13:52] ww-AdamJayMarinovic commented on #102
Just in case someone else comes across this problem as well. If you are having trouble matching Google Authentication token to speakeasy, make sure that if you are generating an otpauthURL that you have set the encoding option to base32 as below.

`const url = speakeasy.otpauthURL({ secret: secret.base32, label: 'MyWebApp', encoding: 'base32', issuer: 'Me' });`

[2020-03-27 07:54] AbdulKhader4123 commented on #52
after 4 hours try,this works for me.

var secret = Speakeasy.generateSecret({ length: 6 });
                 res.send({ "secret": secret.base32 });

            async totpgenerate(request,response) {
              response.send({
                  "token": Speakeasy.time({
                      secret: request.body.secret,
                      encoding: "base32",
                      step:600,//

[2020-05-04 18:01] hcurnor commented on #127
You just saved a day :)

[2020-05-07 17:57] SilentCicero opened #130 "Valid usage question (using this in reverse)"
Hi there,

Is it possible to use this library in reverse, such that the shared key is known by the user / attacker but the delta is not?

Such that, an attacker can generate the secret but will not know the time delay which only the user has?

I would think that has some interesting cryptographic properties if actually possible.

Best,
Nick

[2020-05-22 19:30] mircoCampanella opened #131 "Add function Speakeasy.otpauthFromURL"
Hello guys,
you are doing a really good job,
I wanted to propose the introduction of a function that given an otpauth-url would generate
a TOTP | HOTP
example:
`let url = Speakeasy.otpauthURL({ ...options });`
`let otp = Speakeasy.otpauthFromURL(url)`

[2020-05-28 15:10] nrail-joerg-walter commented on #86
This is still in the NPM package. Please update!

[2020-06-09 08:09] LeonBeilis commented on #117
3 years.. still broken?

[2020-08-23 22:11] carvalholeo commented on #131
Hi bro, how are you??

Apparently, this repo isn't maintained nowadays. It's sad news. But, there's a repo with no active development, but actually maintained right now: github.com/mlogan/squeakeasy. Maybe better post it there.

[2020-09-21 13:21] bbullock-trustquay commented on #125
I'm experiencing the same issue. Did you ever manage to resolve it?

[2020-09-21 13:36] Rc85 commented on #125
Yeah. You have to set the window of time to 2. Experiment with the number to suit your need. What this does is it will check the code within the specified window of time. 2 will check the last 2 code that was generated, so after an immediately refresh, the previous code will still be valid to authenticate.

https://www.npmjs.com/package/speakeasy#specifying-a-window-for-verifying-hotp-and-totp

[2020-09-21 13:41] #125 closed

[2020-09-21 13:45] bbullock-trustquay commented on #125
Thanks @Rc85

[2020-10-21 07:34] jlous commented on #86
No releases i 4 years, no progress on v.3 i 3 years.  Is project dead?

[2020-10-21 19:07] carvalholeo commented on #86
I think yes, @jlous. @mlogan did a fork, but I think that project is dead too. I tried to contact @markbao on Twitter, but he didn't answer me, so I guess that could be great if someone fork again and implement these features/bug fixes.

[2020-10-22 04:10] juanmarceloespinosa opened #132 "Demo site not working"
Hi!
The demo site https://sedemo-mktb.rhcloud.com/ is not working, do you plan to bring it back online?

[2020-10-26 11:26] jlous commented on #86
Alternatively, https://www.npmjs.com/package/otplib seems to be alive and well.
Will consider migrating my code.

[2020-11-20 16:01] devrojan opened #133 "The issuer option is not included in latest realease"
Hi,

Just a minor issue, I think the issuer option in generateSecret method was not included in latest release..

[2020-12-02 12:31] amorenopbsc commented on #133
I am using 2.0.0 and I can confirm even though I am sending `issuer` parameter, the function `generateSecret` is NOT including the parameter in `otpauth_url`.

[2020-12-10 19:45] Levminer opened #134 "I made a fork, use that instead"
Hi!

I made a fork of this package because this is unmaintained about 3 years.
Take a look: https://www.npmjs.com/package/@levminer/speakeasy

I made some changes, but no brakeing changes so you can just switch out to this package.

And some improvements:

* Use Buffer.alloc() instead new Buffer

* ES6 syntax: let, const, arrow functions

* Fixed some known bugs

[2021-02-05 10:06] tommilligan opened #135 "Base32 secrets with a length not a multiple of 8 may produce incorrect codes"
Due to an underlying bad base32 implementation (https://github.com/speakeasyjs/base32.js/issues/4), base32 encoded secrets that are not of length 8, 16, 24, 32 etc. may produce invalid codes.

This behaviour depends on the value of the secret itself. For a comparison with Python's `pyotp` libaray, see these examples: https://github.com/pyauth/pyotp/issues/115

This may be the underlying cause of t

[2021-02-05 10:07] tommilligan commented on #99
The base32 secret shown in your example is not a multiple of 8 in length - therefore this bug may be cased by #135

[2021-02-05 10:07] tommilligan commented on #98
The base32 secret shown in your example is not a multiple of 8 in length - therefore this bug may be cased by #135

[2021-02-05 12:51] yariksav commented on #133
same issue

[2021-02-12 08:37] zdenda-online commented on #105
In case anyone had an issues with this. I used @ygweric code more or less but here I added full code (with dependencies and toHex implementation). For base32 decoding, I used `hi-base32: "^0.5.0" in my package.json

[code]

[2021-02-12 22:58] digitalml opened #136 "New totp every function call"
I'm trying to create a time based one time password in node that is new every single time totp is called... (secret is the same every time from env file)... I need the verify window to be 5 mins...

The problem i am having is that I get duplicates. I assume this is because step = 30 by default and only a new totp will be generated every 30 seconds? I tried to set it to 0, that didn't work. I tried

[2021-03-12 09:42] AmirDolat commented on #126
In android the "Aegis Authenticator" has the same issue.

[2021-03-12 09:51] jellydn commented on #126
FYI, https://github.com/yeojz/otplib is the solution if you run into this issue.

[2021-04-07 19:48] DAmrGharieb opened #137 "weird behaviour always gets false"
hi guys hope every thing is going ok

i have a weird problem with speakseasy everything if going ok on my local machine when i uploaded to the iis the verify function always gets false

`app.post("/verifySecret", async (req, res) => {
let data = await getSecret(req.body.email);
if (data == undefined) {
    res.send({
        "status": 404,
        "message": "Email account not registered"
    });

[2021-04-08 10:07] suprim12 opened #138 "[hotp] Was not giving right code...(So I Maintained for 2021)"
* Remove console.log
*  Use as it is
*  Copy Code added it to file, use same as speakeeasy (tested encoding ascii with google authenticator)

[code]

### Basic  Usage

[code]

[code]

[2021-04-08 10:10] suprim12 commented on #137
Wasted 2 hr fixing this

Here is your  saviour:
https://github.com/speakeasyjs/speakeasy/issues/138

[2021-04-08 11:08] DAmrGharieb commented on #138
first thank you for your attention and spent time ==> the same behaviour ... is there is any  contradiction with any windows files permissions i think the problem there i tested the old code and the new one by you give true on various machines and false on one machine even it generate the code successfully but when verifying is the problem

[2021-04-13 00:32] YanDevDe commented on #134
I can recommend this - This fixed Authy issue too!

[2021-04-13 00:33] YanDevDe commented on #95
Using this repo fixes the issue for me:

https://github.com/speakeasyjs/speakeasy/issues/134

[2021-04-20 04:01] brunobrante opened #139 "Send key/secret to client"
Can I send the key/secret to client? So I don't have to save it in the database. Is this safe?

[2021-04-22 14:52] MercenaryUSA commented on #99
I am having this same issue. I've verified that the clock is accurate, I'm using base32 for the secret and it's a multiple of 8, but Google Authenticator is still generating a separate code from speakeasy.

Has anyone found a solution for this?

[2021-04-22 22:03] carvalholeo commented on #99
Hey guys. Unlikely, the developer updated this package to unmaintained. You can have something with otplib (as suggested in #86), Speakeasy from @Levminer (issue #134) or Squeakeasy from @mlogan (#131). Also, maybe you can try some packages from Passport.js.

Good lucky!

[2021-04-22 22:18] MercenaryUSA commented on #99
Never mind, I got it working. It was simply an error in my code that I didn't realize. That's what happens when you stay up for over 12 hours and are coding at 3am.

[2021-04-22 22:21] MercenaryUSA commented on #99
Typically, I do not trust forks of known packages because you never know what they might contain. While you can just look over the source to figure out if anything is in there, I'd rather not waste my time.

The only time I typically review the source of a package is if something isn't working as intended or I plan on making improvements myself, but I never fork and release my own version if I do

[2021-05-04 12:09] ragul-ct opened #140 "TOTP verification failure"
Why do sometimes speakeasy.totp.verify() method return false even though the secret and token matches.

Can anyone tell me if there is any issue with the way i use it?

Below is my implementation to create a token and verify a token

`speakeasy.totp({
    secret,
    encoding: 'base32',
    digits: 4,
    step: 600
  });`

`speakeasy.totp.verify({
    secret,
    token,
    encoding: 'base32',

[2021-06-13 12:25] gigi0500 opened #141 "The URI format is described here: https://github.com/google/google-authenticator/wiki/Key-Uri-Format <https://github.com/google/google-authenticator/wiki/Key-Uri-Format>"
The URI format is described here: https://github.com/google/google-authenticator/wiki/Key-Uri-Format <https://github.com/google/google-authenticator/wiki/Key-Uri-Format>

To change the application name, use the `issuer`. To display user-specific account details (e.g. email address), use the `label` field.

In Speakeasy, pass the `issuer` and `label` options to `otpauthURL({…})`.

_Originally poste

[2021-06-18 04:13] #116 closed

[2021-06-23 18:36] kunalm8470 commented on #136
@digitalml did you find a solution for this ?

[2021-06-23 18:57] digitalml commented on #136
@kunalm8470 I ended up appending the users login id to the secret code each time so it was always different but I could still decode it. this was unique enough for my purposes.

[2021-07-03 08:26] each484 opened #142 "Old secrets doesnt work"
Hello, my users having issues with their 2fa, also mine just stopped to work today, there is no change of the script file for over 1 year and also those secrets are over 1 year old and just stopped work today.
Basiacally the
[code]
always return **false** for old secrets.
When I remove my old secret and generate new QR code, I got new secret and then it works. So old secrets are not working, just

[2021-08-16 13:25] HamzaAitOumghar commented on #52
Hi, I am also facing this problem, I already tried all the solutions, but the problem still occurs has anyone fixed this issue?

[code]

[2021-08-16 13:52] HamzaAitOumghar commented on #138
I tried your solution  but the problem still occurs , my code :

[code]

[2021-08-19 19:24] lohnsonok commented on #95
Best response that work like a charm when specify `encoding:base32` for all methods (verify, otpauthURL)

[2021-11-01 08:35] zepzeper commented on #140
Did you find a fix for this?

[2022-02-27 16:42] rakshitshah94 commented on #52
It is not working for me! Any solutions for this bug?

[2022-02-28 16:23] trasherdk opened #143 "Ping"
Create IMAP folder.

[2022-02-28 16:24] #143 closed, assigned to nobody

[2022-04-04 01:42] #90 closed

[2022-04-21 17:26] nitrostack commented on #52
changing "totp" to "true" also solved mine

[2022-06-30 21:40] sabdullahpear commented on #140
Seeing the same issue.

[2022-11-05 10:46] edugrip opened #145 "can't read property generateSecretASCII of undefined"
When I try to create the image, with the following code,
 var secret =  generateSecret({
        name: "mySecret",
    })
The line 458 in index.js generates an error
....
var key = this.generateSecretASCII(length, symbols);

 `this` is undefined here.  (I get an error `can't read property generateSecretASCII of undefined`)
When I change this to `exports`, it works. team, kindly find out and guide

[2022-11-15 08:00] pedropresotti commented on #52
I was facing the same problem. Turns out the issue was the qrcode generated from the secret. If you are using npm qrcode, use the function:

const generateQR = async text => {

	try {
		const qrCode = await QRCode.toDataURL(text);
		return qrCode;
	} catch (err) {
		throw err;
	}
}